<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blogs</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/blog.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="fs-2 navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Blogs</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-4" asp-area="" asp-controller="Blogs" asp-action="Index">Home</a>
                        </li>
                        @if(Context.Request.Cookies["AuthToken"] != null) {
                            <li class="nav-item">
                                <a class="nav-link text-dark fs-4" asp-area="" asp-controller="Home" asp-action="Privacy">Create</a>
                            </li>
                        }
                    </ul>
                    @if(Context.Request.Cookies["AuthToken"] != null)
                    {
                        <span class="navbar-text fs-4 me-3 border rounded px-3">
                            @Context.Request.Cookies["UserId"] :: @Context.Request.Cookies["Username"]
                        </span>
                        <button class="btn btn-danger" style="width: 180px;">
                            <a class="text-decoration-none text-white" href="@Url.Action("Logout", "Users")">Logout</a>
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary" style="width: 180px;">
                            <a class="text-decoration-none text-white" asp-controller="Users" asp-action="Index">Login</a>
                        </button>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Blogs - <a class="text-decoration-none text-black" asp-area="" asp-controller="Home" asp-action="Privacy">POWERED BY KIMRAMA</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></scrip>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
